
@keyframes item-anim-bg {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(2%, 2%);
    }
    50% {
        transform: translate(0%, 4%);
    }
    75% {
        transform: translate(-2%, 2%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}

:root {
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
  }
  .animate__animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: var(--animate-duration);
    animation-duration: var(--animate-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

@keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  .animate__fadeInUp {
    //-webkit-animation-name: fadeInUp;
    //animation-name: fadeInUp;
    animation: fadeInUp 1s ease-in-out 0.5s 1 normal forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  .animate__fadeIn {
    animation: fadeIn 1s ease-in-out 0s 1 normal forwards;
  }
body {
    font-family: 'Roboto';
    font-weight: 500;
    line-height: 165%;
    color: $gray;
    
    @include adaptiv-font(16, 14);
    &.lock {
        overflow: hidden;
    }
}

.wrapper {
    overflow: hidden;
}

.container {
    max-width: $maxWidth+px;
    padding: 0 15px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &._row-to-column {
        flex-direction: column;
        @include _769 {
            flex-direction: row;
        }
    }
    & .flex-block {
        flex: 0 1 100%;
        max-width: 100%;
        width: 100%;
        @include _769 {
            flex: 0 1 45%;
            max-width: 45%;
            width: 100%;
        }
    }
}

.logo {
    &-img {
        width: 118px; height: 44px;
    }
}

.burger {
    display: block;
    position: relative;
    z-index: 100;
    width: 35px; height: 35px;
    background-color: transparent;
    overflow: hidden;
    @include _992 {
        display: none;
    }
    & span {
        position: absolute;
        left: 0;
        width: 100%; height: 2px;
        background-color: $accent;
        transition: all .2s ease-in-out;
        &:nth-child(1) {
            top: 0;
        }
        &:nth-child(2) {
            top: 50%;
            transform: translateY(-50%);
            z-index: -1;
        }
        &:nth-child(3) {
            top: 100%;
            transform: translateY(-100%);
        }
    }
    &.active {
        & span {
            &:nth-child(1) {
                top: 50%;
                transform: translateY(-100%) rotate(45deg);
                background-color: $white;
            }
            &:nth-child(2) {
                top: 50%;
                height: 100%;
                transform: translateY(-50%);
            }
            &:nth-child(3) {
                top: 50%;
                transform: translateY(-100%) rotate(-45deg);
                background-color: $white;
            }
        }
    }
}


.section-padding {
    @include adaptiv-ptb(35, 25);
    @media(min-width: $maxWidth+px) {
        padding: 55px 0;
    }
}

._info-center {
    text-align: center;
    margin: -10px auto -10px auto;
}

._margin-between-elements {
    margin-top: -10px;
    margin-bottom: 5px;
    & > * {
        margin: 10px 0;
        display: inline-block;
    }
}


.red-color {
    color: $red;
}

.blue-color {
    color: $blue;
}

.green-color {
    color: $green;
}


.btn {
    position: relative;
    display: inline-block;
    text-transform: capitalize;
    color: $white !important;
    padding: 10px 15px !important;
    border-radius: 2em;
    background-color: transparent;
    &-body {
        perspective: 400px;
        display: inline-block;
        transform: scale(1);
        transition: all .2s ease-in-out;
        &:hover {
            transform: scale(1.1);
        }
    }
    &::after, &::before {
        content: '';
        position: absolute;
        left: 0; top: 0;
        width: 100%; height: 100%;
        z-index: -1;
        background: $gradientAccent;
        border-radius: 2em;
        box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.5);
    }
    &::after {
        width: 105%; height: 105%;
        transform: translate(-2.5%, -2.5%);
        transition: all .2s ease-in-out;
    }
    &::before {
        background: $gradientAccent;
        opacity: 0;
        z-index: -1;
        transition: all .2s ease-in-out;
    }

    &:hover {
        //transform: scale(1.05);
        transition: all .0s ease-in-out;
        &::before {
            opacity: 1;
            
        }
    }
}

.link-hover {
    position: relative;
    &::before {
        content: '';

        position: absolute;
        left: 50%; bottom: 0;
        transform: translateX(-50%);
        width: 0; height: 3px;

        background: $gradientAccent;

        transition: all .2s ease-in-out;
    }
    &:hover {
        &::before {
            width: 100%;
        }
    }
}

.link-accent {
    color: $accent;
    padding: 1.2em 2em;
}

.section-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &._column {
        flex-direction: column;
    }
    & li {
        @include adaptiv-mtb(15, 15);
        flex: 0 1 100%;
        @include _992 {
            margin: 20px 0;
            flex: 0 1 25%;
        }
        @include _769 {
            flex: 0 1 30%;
        }
    }
}

.list {
    &-item {
        display: flex;
        &._column {
            flex-direction: column;
            & .list-icon {
                @include adaptiv-mtb(5, 5);
                @include _maxWidth {
                    margin: 15px 0
                }
            }
            & .list-item-title {
                @include adaptiv-mtb(4, 4);
                @include _maxWidth {
                    margin: 15px 0
                }
            }
        }
        &._center {
            align-items: center;
        }
    }
    &-icon {
        width: 88px;
        flex: 0 0 88px;
    }
}






.slider-btn {
    cursor: pointer;
    z-index: 10;
    position: absolute;
    right: 0; bottom: 0;
    @include _992 {
        bottom: 15px;
    }
    width: 50px; height: 50px;
    border-radius: 50%;
    background-color: $blueGray;
    border: 2px solid $gray-white2;
    overflow: hidden;
    transition: all .2s ease-in-out;
    &::before {
        content: '';
        position: absolute;
        left: 0; top: 0;
        width: 100%; height: 100%;
        background: $gradientAccent;
        opacity: 0;
        transition: all .2s ease-in-out;
    }
    @include _992 {
        &:hover {
            &::before {
                opacity: 1;
            }
            & .slider-btn-icon {
                fill: $white;
            }
        }
    }
    &.swiper-button-disabled {
        background-color: transparent;
        border: 2px solid $gray-white2;
        cursor: default;
        & .slider-btn-icon {
            fill: $gray-white2;
        }
        @include _992 {
            &:hover {
                &::before {
                    opacity: 0;
                }
                & .slider-btn-icon {
                    fill: $gray-white2;
                }
            }
        }
    }
    &-icon {
        position: absolute;
        left: 50%; top: 50%;
        transform: translate(-50%, -50%);
        width: 15px; height: 15px;
        fill: $accent;
        transition: all .2s ease-in-out;
        &._reverse {
            transform: scaleX(-1) translate(50%, -50%);
        }
    }
    &-prev {
        transform: translateX(calc(-100% + -15px));
        
    }
}





.btn-to-top {
    position: fixed;
    right: 25px; bottom: 25px;
    width: 35px; height: 35px;

    border-radius: 50%;
    background: transparent;

    opacity: .1; visibility: visible;

    transition: all .2s ease-in-out;
    z-index: 99;
    @include _426 {
        width: 50px; height: 50px;
    }
    &.hide {
        opacity: 0; visibility: hidden;
    }
    &._none {
        opacity: 0; visibility: hidden;
    }
    & span {
        display: inline-block;
        position: absolute;
        left: 45%; top: 45%;
        width: 35%; height: 4px;
        background: $gradientAccent;
        border-radius: 5px;
        z-index: 2;
        &:nth-child(1) {
            transform: rotate(35deg);
            
        }
        &:nth-child(2) {
            left: 20%; top: 45%;
            transform: rotate(-35deg);
        }
    }
    &::after {
        content: '';
        position: absolute;
        left: 0%; top: 0%;
        border-radius: 50%;
        width: 100%; height: 100%;
        background: $white;
        
        
        z-index: 0;
    }
    &::before {
        content: '';
        position: absolute;
        left: 0%; top: 0%;
        border-radius: 50%;
        transform: translate(-5px, -5px);
        width: calc(100% + 10px); height: calc(100% + 10px);
        background: $gradientAccent;
        //transform: translate(-50%, calc(-50% - 1px)) scale(-1);
        z-index: -1;
    }
    &:hover {
        @include _992 {
            opacity: 1;
        }
    }
    
    
}




.parallax-scene {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    overflow: hidden;
    z-index: -1;
    &__item {
        position: absolute;
        width: 100%; height: 100%;
        
        &-img {
            position: absolute;
            //animation: name duration timing-function delay iteration-count direction fill-mode;
            
            /* animation-name: item-anim-bg;
            animation-duration: 25s;
            animation-direction: normal;
            animation-iteration-count: infinite;
            animation-delay: 0s; */
        }
    }
}
