
$maxWidth: 1200;




@mixin _maxWidth {
    @media (min-width: $maxWidth+px) {
        @content;
    }
}
@mixin _1196 {
    @media (min-width: 1196px) {
        @content;
    }
}
@mixin _992 {
    @media (min-width: 992px) {
        @content;
    }
}
@mixin _769 {
    @media (min-width: 769px) {
        @content;
    }
}
@mixin _426 {
    @media (min-width: 426px) {
        @content;
    }
}



@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    @media (min-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
    }
    @media (max-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
    }
}

@mixin adaptiv-p($minPValue, $maxPValue) {
    padding: calc(#{$minPValue + px} + (#{$maxPValue} + #{$minPValue}) * ((100vw - 320px)) / (#{$maxWidth} - 320))
}
@mixin adaptiv-ptb($minPValue, $maxPValue) {
    padding: calc(#{$minPValue + px} + (#{$maxPValue} + #{$minPValue}) * ((100vw - 320px)) / (#{$maxWidth} - 320)) 0
}
@mixin adaptiv-plr($minPValue, $maxPValue) {
    padding: 0 calc(#{$minPValue + px} + (#{$maxPValue} + #{$minPValue}) * ((100vw - 320px)) / (#{$maxWidth} - 320))
}
@mixin adaptiv-pb($minPValue, $maxPValue) {
    padding: 0 0 calc(#{$minPValue + px} + (#{$maxPValue} + #{$minPValue}) * ((100vw - 320px)) / (#{$maxWidth} - 320)) 0
}
@mixin adaptiv-m($minPValue, $maxPValue) {
    margin: calc(#{$minPValue + px} + (#{$maxPValue} + #{$minPValue}) * ((100vw - 320px)) / (#{$maxWidth} - 320))
}
@mixin adaptiv-mb($minPValue, $maxPValue) {
    margin: 0 0 calc(#{$minPValue + px} + (#{$maxPValue} + #{$minPValue}) * ((100vw - 320px)) / (#{$maxWidth} - 320)) 0
}
@mixin adaptiv-mt($minPValue, $maxPValue) {
    margin: calc(#{$minPValue + px} + (#{$maxPValue} + #{$minPValue}) * ((100vw - 320px)) / (#{$maxWidth} - 320)) 0 0 0
}
@mixin adaptiv-mtb($minPValue, $maxPValue) {
    margin: calc(#{$minPValue + px} + (#{$maxPValue} + #{$minPValue}) * ((100vw - 320px)) / (#{$maxWidth} - 320)) 0
}
@mixin adaptiv-mlr($minPValue, $maxPValue) {
    margin: 0 calc(#{$minPValue + px} + (#{$maxPValue} + #{$minPValue}) * ((100vw - 320px)) / (#{$maxWidth} - 320))
}
